<div id="expense-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <%= form_for @expense, remote: true do |f| %>
        <div class="modal-body">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <%= f.select :extype, Expense.extypes.keys, class: "form-control form-control-lg input", placeholder: "Tipo de gasto" %>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <% if task == "new" %>
                  <%= f.date_field :exdate, :value => Date.today, class: "form-control input-lg", placeholder: "Fecha" %>
                <% else %>
                  <%= f.date_field :exdate, :value => @expense.exdate, class: "form-control input-lg", placeholder: "Fecha" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.text_field :concept, class: "form-control input-lg", placeholder: "Concept" %>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <%= f.select :category, Expense.categories.keys, class: "form-control form-control-lg input", placeholder: "Category" %>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <%= f.number_field :amount, class: "form-control input-lg", placeholder: "Amount" %>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <%= f.submit class: "btn btn-primary btn-lg btn-block", id: "submitButton" %>
        </div>
      <% end %>
    </div>
  </div>
</div>