function refresh() {
	console.log('Index JS');

	$('tbody#expenses-table-body tr').remove();
	$('tbody#expenses-table-body').append('<%= j render "expenses" %>');

	$('#index-bar').remove();
	$('div#index-filters').prepend('<%= j render "indexbar" %>');

	$('#filters-bar').remove();
	$('div#filters').prepend('<%= j render "filters" %>');

	$('h4').removeClass('open');
	var monthsLong = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
	$('button#dateFilter').html(monthsLong[parseInt('<%= j params[:month] %>')-1] + ' ' + '<%= j params[:year] %>' + ' <span class="caret"></span>');
}


$(document).on('page:load', refresh());