<div class="container">
  <div class="row" id="filters">
    <%= render 'filters' %>
    <div class="col-md-9 index-data" id="index-filters">
      <%= render 'indexbar' %>
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <%= link_to new_expense_path, id: 'new', remote: true, class: "btn btn-success pull-left" do %>
            <span class="glyphicon glyphicon-plus"></span> New Expense
          <% end %>
          <h4 class="dropdown pull-right">
            <% if params[:year].blank? && params[:month].blank? %>
              <button id="dateFilter" type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown"><%= Date.today.strftime('%B')%> <%= Date.today.year%> <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <% for n in 0..12 do %>
                  <li role="presentation" id="<%= n.month.ago %>">
                    <%= link_to expenses_path + '?month=' + n.month.ago.strftime('%-m') + '&year=' + n.month.ago.year.to_s, class: "year-months", remote: true, id: n.month.ago do %>
                    <%= n.month.ago.strftime('%B')%> <%= n.month.ago.year %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <button id="dateFilter" type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown"><%= Date.new(params[:year].to_i,params[:month].to_i,1).strftime('%B')%> <%= params[:year]%> <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <% for n in 0..12 do %>
                  <li role="presentation" id="<%= n.month.ago %>">
                    <%= link_to expenses_path + '?month=' + (Date.new(params[:year].to_i,params[:month].to_i,1) - n.month).strftime('%-m') + '&year=' + (Date.new(params[:year].to_i,params[:month].to_i,1) - n.month).year.to_s, class: "year-months", remote: true, id: (Date.new(params[:year].to_i,params[:month].to_i,1) - n.month) do %>
                    <%= (Date.new(params[:year].to_i,params[:month].to_i,1) - n.month).strftime('%B')%> <%= (Date.new(params[:year].to_i,params[:month].to_i,1) - n.month).year %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </h4>
        </div>
      </div>

      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody id="expenses-table-body">
          <%= render 'expenses' %>
        </tbody>
      </table>
    </div>
  </div>
</div>