$(document).on("click", 'a[data-remote=true]', function(e) {
  history.pushState(null, '', $(this).attr('href'));
});
$('tbody#expenses-table-body tr').remove();
$('tbody#expenses-table-body').append('<%= j render "expenses" %>');
$('#index-bar').remove();
$('div#index-data').prepend('<%= j render "indexbar" %>');
$('h4').removeClass('open');
var monthsLong = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
$('button#dateFilter').html(monthsLong[parseInt('<%= j params[:month] %>')-1] + ' ' + '<%= j params[:year] %>' + ' <span class="caret"></span>');
console.log(window.location.pathname + '?month=' + parseInt('<%= j params[:month] %>') + '&year=' + '<%= j params[:year] %>');